body{
    background: url(background.jpg);
    background-size: cover; 
}


.box{
    height: 130px;
    width: 140px;
    cursor: pointer;
    background-color: #707070;
    font-size: 100px;
    text-align: center;
    color: antiquewhite;
}
.box:hover{
    background-color: darkgrey;
}

#current_player_label{
    font-size: 25px;
}

#fnt{
    font-size: 30px;
}
#current_player_label{
    font-size: 30px;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

#fnt{
    text-align: center;
    color: #6d6d6d;
    color: aliceblue;
}

#tic_tac_box{
    text-align: center;
}