.box{
    height: 130px;
    width: 140px;
    cursor: pointer;
    background-color: beige;
    font-size: 100px;
    text-align: center;
}
.box:hover{
    background-color: darkgrey;
}

#current_player_label{
    font-size: 25px;
}

#fnt{
    font-size: 30px;
}
#current_player_label{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
}

#fnt{
    text-align: center;
}

#tic_tac_box{
    text-align: center;
}